html,
body{
    height: 100vh;
    margin: 0;
    background-image: url("/DRANKHUNT/resources/sprites/background/sky1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h3{
    color: white;
}

h2{
    color: white;
}


body{
    min-height: 100%;
    font-family: Arial, sans-serif;
    user-select: none;
    content: url("/DRANKHUNT/resources/sprites/duck/png/hit.png") url("/DRANKHUNT/resources/sprites/duck/png/rightup1.png") url("/DRANKHUNT/resources/sprites/duck/png/rightdown1.png") url("/DRANKHUNT/resources/sprites/duck/png/leftup1.png") url("/DRANKHUNT/resources/sprites/duck/png/leftdown1.png") url("/DRANKHUNT/resources/sprites/duck/png/right1.png") url("/DRANKHUNT/resources/sprites/duck/png/left1.png") url("/DRANKHUNT/resources/sprites/duck/png/fallingright.png") ;
}

.sky {
    position: relative;
    background-image: none;
    min-height: 100vh;
    width: 100%;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: crosshair;
    
}


.bushes{
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60vh;                 /* taller foreground */
  background-image: url("/DRANKHUNT/resources/sprites/background/bushes.png");
  background-repeat: no-repeat;

  background-size: cover;        /* fills the area, crops extra */
  background-position: center bottom;

  pointer-events: none;
}


.duck{
    left: 48%;
    bottom: 20%;
    background-image: url("/DRANKHUNT/resources/sprites/duck/png/left1.png");
    position: absolute;
    animation-timing-function: linear;
    width: 78px;
    height: 73px;
    background-size: 100%;
}

.dog{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}

#dog1{
    width: 10vw;
    height: 6vw;
    z-index: 3;
    left: 0%;
    bottom: 20%;
    background-image: url("/DRANKHUNT/resources/sprites/dog/walk1.png");
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    content: url("/DRANKHUNT/resources/sprites/dog/walk1.png") url("/DRANKHUNT/resources/sprites/dog/sniff1.png") url("/DRANKHUNT/resources/sprites/dog/jump1.png");
}

#dog2{
    width: 10vw;
    height: 8vw;
    left: 48%;
    bottom: 10%;
    content: url("/DRANKHUNT/resources/sprites/dog/gotOne.png") url("/DRANKHUNT/resources/sprites/dog/gotTwo.png") url("/DRANKHUNT/resources/sprites/dog/bkztypa1.png");
}

.easingOut{
    animation-name: dog2Show;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.comboMessage{
    display: none;
    z-index: 7;
    position: absolute;
    top: 15%;
    left: 15%;
    animation-name: flash;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {color: red}
    100% {color: black}
}

/* @keyframes dog2Show{
    0%  {left: 48%; bottom: 20%;}
    20%  {left: 48%; bottom: 35%;}
    80%  {left: 48%; bottom: 35%;}
    100% {left: 48%; bottom: 20%;}
}


@keyframes dogWalk1 {
    0%   {left:0%; bottom:20%;}
    100% {left:20%; bottom:20%;}
}

@keyframes dogSniff1 {
    0%   {left:20%; bottom:20%;}
    100% {left:20%; bottom:20%;}
}


@keyframes dogWalk2 {
    0%   {left:20%; bottom:20%;}
    100% {left:40%; bottom:20%;}
}

@keyframes dogSniff2 {
    0%   {left:40%; bottom:20%;}
    100% {left:40%; bottom:20%;}
} */


/* 0.7 */
@keyframes dogJump {
    0%  {left:45%; bottom:20%;}
    25%  {left:45%; bottom:25%;}
    50%  {left:47%; bottom:30%;}
    75%  {left:50%; bottom:35%;}
    100% {left:52%; bottom:32%;}
}
