/* Override for small screen ground and sprite offsets */
.duck {
  bottom: calc(var(--fg-h) - var(--duck-h) + var(--duck-elev) + 18px) !important;
}
#dog1,
#dog2 {
  bottom: calc(var(--fg-h) - var(--dog-h) + 12px) !important;
}
@media (max-width: 499px) {
  .bushes {
    height: 30vh !important;
    background-size: 100% 30vh !important;
  }
}
